<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech-blog</title>
 <!-- Bulma and css link-->
   <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
    
   <div id="navigation_mobile" class="navbar-menu">
    <div class="navbar-start">
      <a href = "/" class="navbar-item">
       <strong> Home </strong>
      </a>


      {{#if logged_in}}
      <a href= "/profile" class="navbar-item">
       <strong> Profile </strong>
      {{/if}}
    
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {{#if logged_in}}
           <a  class="button is-success" id= "logout">
            <strong>Log out</strong>
          </a>
          {{else}}
          <a href = "/login" id="logo-blue" class="button is-primary">
            <strong>Log in</strong>
          </a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
